@inherits LayoutComponentBase

@inject DiceCombatsService CombatsService

<PopupNotification></PopupNotification>

<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->
    <DCNavMenu />


    <main>
        <MudThemeProvider IsDarkMode="true" />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <article class="content px-4" style="padding-top:70px;" id="mainpagebody">
            @Body
        </article>
    </main>
</div>
