@*
 * DiceCombats - Copyright (C) 2025 Yann Charbon
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * This file is part of DiceCombats, released under the GNU GPL v3.
 * See the LICENSE file in the repository root for details.
*@

@inherits LayoutComponentBase

@inject DiceCombatsService CombatsService

<PopupNotification></PopupNotification>

<div class="page">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->
    <DCNavMenu />


    <main>
        <MudThemeProvider IsDarkMode="true" Theme="DCTheme" />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <article class="content px-4" style="padding-top:70px;" id="mainpagebody">
            @Body
        </article>
    </main>
</div>

@code {
    MudTheme DCTheme = new MudTheme()
    {
        PaletteDark = new PaletteDark()
            {
                Primary = Colors.Teal.Darken1,
                Secondary = Colors.Teal.Darken4,
            },
    };
}
