@inherits LayoutComponentBase

@inject DiceCombatsService CombatsService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <MudThemeProvider IsDarkMode="true" />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <article class="content px-4" id="mainpagebody">
            @Body
        </article>
    </main>
</div>
