@page "/"

<div style="justify-content:center;text-align:center;padding-top:50px">
    <h3>Welcome to DiceCombats !</h3>
    
    <p>This TTRPG tool to help you managing creatures and combats for any type of game system.</p>
</div>


