@using DiceCombats

<div>
    @if (EditionMode)
    {
        <MudTextField Immediate="true" @bind-Value="Field.Title" Label="Edit field name" Variant="Variant.Outlined" />
    }

    @if (Field is DCCreatureNumericField numericField)
    {
        <MudNumericField @bind-Value="numericField.Value" Label="@Field.Title" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureTextField textField)
    {
        <MudTextField @bind-Value="textField.Text" Label="@Field.Title" Variant="Variant.Outlined" />
    }
    else if (Field is DCCreatureCheckboxGridField checkboxGridField)
    {
        @if (EditionMode)
        {
            <div class="row">
                <div class="col col-md-2">
                    <MudNumericField @bind-Value="checkboxGridField.Columns" Label="Horizontal checkbox count" Variant="Variant.Outlined" Min="1" />
                </div>
                <div class="col col-md-2">
                    <MudNumericField @bind-Value="checkboxGridField.Rows" Label="Vertical checkbox count" Variant="Variant.Outlined" Min="1" />
                </div>
                <div class="col col-md-2">
                    <MudCheckBox T="bool" @bind-Value="checkboxGridField.HasColumnHeaders" Label="Column labels"></MudCheckBox>
                </div>
                <div class="col col-md-2">
                    <MudCheckBox T="bool" @bind-Value="checkboxGridField.HasRowHeaders" Label="Row labels"></MudCheckBox>
                </div>
            </div>
        }
        <div style="padding:10px;">
            <table>
                @if (checkboxGridField.HasColumnHeaders)
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td>&nbsp;</td>
                        }
                        @foreach (int i in Enumerable.Range(0,checkboxGridField.ColumnHeaders.Count))
                        {
                            <td><MudTextField Immediate="true" @bind-Value="checkboxGridField.ColumnHeaders[i]" Label="Edit column name" Variant="Variant.Outlined" /></td>
                        }
                    </tr>
                }
            @foreach (int i in Enumerable.Range(0, checkboxGridField.Rows))
                {
                    <tr>
                        @if (checkboxGridField.HasRowHeaders)
                        {
                            <td><MudTextField Immediate="true" @bind-Value="checkboxGridField.RowHeaders[i]" Label="Edit row name" Variant="Variant.Outlined" /></td>
                        }
                        @foreach (int j in Enumerable.Range(0, checkboxGridField.Columns))
                        {
                            <td>
                                <input type="checkbox" @bind="checkboxGridField.GridState[i,j]" />
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    }
</div>

@code {
    [Parameter]
    public DCCreatureCustomField Field { get; set; } = default!;
    [Parameter]
    public bool EditionMode { get; set; } = false;

}
