<style>
    .welcome-header {
        font-size: 30px;
        text-align: center;
    }

    .welcome-body {
        list-style-type: circle;
    }

    ul {
        list-style-type: disc;
        padding: 10px 0 !important;
        padding-left: 20px !important;
    }
</style>

<div class="welcome-header">
    <h2>Thank you for choosing DiceCombats!</h2>
</div>
<div class="welcome-body">
    <h3>Key Features</h3>
    <p>DiceCombats is a tabletop RPG combat manager, designed to make your game mastering smooth and enjoyable.</p>
    <ul>
        <li><strong>Flexible Creature Creation:</strong> Customize creatures and save them for reuse in any system.</li>
        <li><strong>Modular Combat Management:</strong> Track initiative, hit points, and statuses with ease.</li>
        <li><strong>System-Agnostic Design:</strong> Adapt the tool to your campaign's needs.</li>
        <li><strong>Customizable Setup:</strong> Import/export data and configure settings to suit your GM style.</li>
    </ul>
    <h3>License</h3>
    <p>DiceCombats is open-source software licensed under the <b>Apache 2.0 license</b>. For details, visit <a href="https://github.com/YannCharbon/DiceCombats" style="color:white;" target="_blank"><MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />&nbsp;GitHub</a>.</p>
    <h3>Support the project</h3>
    <p>
        Feel free to suggest any new feature, improvements and bug fixes on <a href="https://github.com/YannCharbon/DiceCombats" style="color:white;" target="_blank"><MudIcon Icon="@Icons.Custom.Brands.GitHub" Title="GitHub" />&nbsp;GitHub</a>.
        As I am developing this software on my free time, please consider that updating/bug fixing might be slow.
    </p>
    <p>If you enjoy using DiceCombats and want to support its development, a donation on Paypal is really appreciated.</p>
    <span>
        <a href="https://www.paypal.com/donate/?hosted_button_id=4X9ZURL5T4E6N" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" />
        </a>
    </span>
    <br />
    <br />
    <h4>Thanks a lot and good game!</h4>
</div>

@code {

}
