@using DiceCombats
@using MudBlazor.Utilities
@inject DiceCombatsService CombatService
@inject IStringLocalizer<Resources.Localization.CreatureCustomFieldRenderer> Loc

@if (EditionMode)
{
    <MudTextField T="string" AutoGrow Value="@Field.Text" ValueChanged="OnTextChanged" Label="@Field.Title" Variant="Variant.Outlined" />
}
else
{
    <div style="zoom: 0.85;">
        <MudTextField T="string" AutoGrow spellcheck="false" Value="@Field.Text" ValueChanged="OnTextChanged" Label="@Field.Title" Variant="Variant.Outlined" style="min-width:300px;" Class="CreatureCustomFieldRendererFieldLabel CreatureCustomFieldRendererFieldBackground" />
    </div>
}

@code {
    [Parameter] public DCCreatureTextField Field { get; set; } = default!;
    [Parameter] public bool EditionMode { get; set; } = false;
    [Parameter] public EventCallback OnChange { get; set; }
    [Parameter] public EventCallback<CustomFieldChangeInfo> OnFieldChanged { get; set; }

    private async Task OnTextChanged(string value)
    {
        var oldValue = Field.Text;
        Field.Text = value;

        if (OnFieldChanged.HasDelegate)
        {
            await OnFieldChanged.InvokeAsync(new CustomFieldChangeInfo
            {
                Field = Field,
                OldValue = oldValue,
                NewValue = value,
                Action = "Changed"
            });
        }

        if (OnChange.HasDelegate)
            await OnChange.InvokeAsync();
    }
}
